
<div>
    <img src="http://sv1.upsieutoc.com/2017/07/16/stfoods.md.jpg" height='250px' width='450px' class='center'/>
</div>
<div class='menu-container'>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</div> 
<br/><br/><br/><br/><br/><br/>