<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=title%></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=128067097797342";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>

        <div class='col-md-4 logo'>
            <a href='/'><img src="http://sv1.upsieutoc.com/2017/07/27/ST_logo.png"/></a>
        </div>
        <div class='col-md-8 text-menu'>
            <ul class='nav nav-pills center-pills'>
                <li><a href='/'>Home</a></li>
                <li><a href='/products'>Products</a></li>
                <li class='active'><a href='/about'>About</a></li>
                <li><a href='/contact'>Contact</a></li>
                <li><a href='/auth/facebook'><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                <div class="fb-like" data-href="https://www.facebook.com/saithanhfoods/" data-width="10px" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
            </ul>
        </div>
            
        <div class='col-md-8 jumbotron col-md-offset-2 center' style='background:transparent !important'>
            <h3>About ST Foods</h3>
            <p>
                ST Foods stands for SaiThanh Ltd., Co., 15 year seafood exporting company.
                We provide quality frozen seafood for customers all around the world, deliver internationally to large and small businesses, with variable size of orders.
                Our businesses are run by knowledgeable people with great experience in the fish and seafood industry. Each business is supervised by a fish expert and supported by a team of knowledgeable staff ready to assist with fish and seafood queries and requests.
                Our main product is frozen seafood for Asian in the U.S and Canada. We also provide the third party with filleting and packing service.
            </p>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</html>