<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=title%></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <%- include ./partials/header%>
        <br/>
            <h2>About STFood</h2>
            <p>
                STSeafoods stands for SaiThanh Ltd., Co., 15 year seafood exporting company.
                We provide quality frozen seafood for customers all around the world,deliverinternationally to large and small businesses, with variable size of orders.
                Our businesses are run by knowledgeable people with great experience in the fish and seafood industry. Each business is supervised by a fish expert and supported by a team of knowledgeable staff ready to assist with fish and seafood queries and requests.
                Our main product is frozen seafood for Asian in the U.S and Canada. We also provide the third party with filleting and packing service.
            </p>
        <br/>
        <%- include ./partials/footer%>
    </body>
</html>