<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=title%></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class='col-md-4 logo'>
            <img src="http://sv1.upsieutoc.com/2017/07/27/ST_logo.png"/>
        </div>
        <div class='col-md-8 text-menu'>
            <ul class='nav nav-pills center-pills'>
                <li><a href='/'>Home</a></li>
                <li><a href='/products'>Products</a></li>
                <li><a href='/about'>About</a></li>
                <li class='active'><a href='/contact'>Contact</a></li>
                <li><a href='/auth/facebook'><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
            </ul>
        </div>
            
        <div class='col-md-8 jumbotron col-md-offset-2 center' style='background:transparent !important'>
            <h3>Contact</h3>
            <p>
                Our salesmen are always available to receive your orders and answer any questions you may have. On the other hand, after office hours, you can place your order and contact us through email. We will reply to you as soon as possible.
                For more information about availability and price, please contact us. SaiThanh Ltd, Loot III-22, 19/5A St., Tan Binh Industrial Park, Tan Phu Dist., Ho Chi Minh City.
            </p>  
            <p> Call:  0084-08 381 654 88  Or  0084-091 349 3022</p>
            <p> Email: saithanhltd@gmail.com </p>
        </div>
    </body>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</html>