<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=title%></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <%- include ./partials/header%>
        <br/>
            <h2>Contact</h2>
            <p>
                Our salesmen are always available to receive your orders and answer any questions you may have. On the other hand, after office hours, you can place your order and contact us through email. We will reply to you as soon as possible.
                For more information about availability and price, please contact us. SaiThanh Ltd, Loot III-22, 19/5A St., Tan Binh Industrial Park, Tan Phu Dist., Ho Chi Minh City.
                Call:  0084-08 381 654 88  Or 0084-097 586 8972  Or 0084-091 349 3022 
                Email: saithanhltd@gmail.com
            </p>
        <br/>
        <%- include ./partials/footer%>
    </body>
</html>