<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%=title%></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <%- include ./partials/header%>
        <br/>
        <img src="http://sv1.upsieutoc.com/2017/07/16/12351169_l.jpg" height='600' width='950' class='center'/>
        <br/>
    </body>
</html>