img.center {
    display : block;
    margin-left: auto;
    margin-right: auto;
}
div.text-container{
    width : 750px;
    padding : 10px;
    margin : 0 auto;
    position:  relative;
    font-size: 140%;
    font-family: 'Times New Roman', Times, serif;
    color : #00ace6;
}
div.text-back{
    width : 750px;
    margin : 0 auto;
    position:  relative;
    font-size: 140%;
    font-family: 'Times New Roman', Times, serif;
    color : #00ace6;
    clear: left;
}
li {
    float: left;
    list-style: none;
}
li a {
    display: block;
    padding: 14px 16px;
}
a{
    text-decoration: none;
    color: #00ace6;
}
div.menu-container{
    width : 540px;
    padding : 10px;
    margin : 0 auto;
    position:  relative;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    color : #00ace6;
}
a:hover{
    text-decoration: underline;
    color : #000080;
}
div.gallery{
    margin : 5px;
    border : 1px solid #00ace6;
    float: left;
    width: 450px;
}
div.gallery:hover {
    border: 1px solid #000080;
}
div.desc {
    padding: 15px;
    text-align: center;
    color : #00ace6;
    font-size: 140%;
    font-family: 'Times New Roman', Times, serif;
}
div.gallery-container{
    width : 950px;
    padding : 10px;
    margin : 0 auto;
    position:  relative;
}
div.product-img{
    height : 442px;
    float : left;
    position:  relative;
    margin-left: 50px;
}
div.product-desc{
    width: 500px;
    height : 442px;
    float: right;
    position:  relative;
}
div.product-desc h3{
    padding:  10px;
    text-align: left;   
    font-size: 270%;
    font-family: 'Times New Roman', Times, serif;
    color : #00ace6;
}
div.product-desc p{
    padding:  10px;
    text-align: left;   
    font-size: 180%;
    font-family: 'Times New Roman', Times, serif;
    color : #00ace6;
}
