.img-responsive {
    margin: 0 auto;
}

.center-pills {
    display: flex;
    justify-content: center;
}

.center-pills a {
    font-size: 32px;
}

.text-menu {
    padding: 30px;
    height: 150px;
}

.logo {
    padding: 20px;
    height : 150px;
}